@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

#canvas {
    padding: 25px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}
.game-play {
    margin-top: 250px;
}
#knight {
    min-width: 110px;
    min-height: 110px;
}
#monster {
    min-width: 110px;
    min-height: 110px;
    margin-top: 10px;
    position: fixed;
}
.progress-bar {
    min-width: 20;
}
#hero-health {
    background-color: #5cb85c;
}
#monster-health {
    background-color: #5cb85c;
}
.reset {
    margin-top: 25px;
}
.background {
    background-color: #5cb85c;
    height: 100vh;
}
.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}